<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPFC"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".InicioViewHolder"
            android:exported="false" />
        <activity
            android:name=".InicioAdapter"
            android:exported="false" />
        <activity
            android:name=".ArticulosViewHolder"
            android:exported="false" />
        <activity
            android:name=".ArticulosAdapter"
            android:exported="false" />
        <activity
            android:name=".ArticulosData"
            android:exported="false" />
        <activity
            android:name=".Articulos"
            android:exported="false" />
        <activity
            android:name=".SubFamilias"
            android:exported="false" />
        <activity
            android:name=".RegisterSiguiente"
            android:exported="false" />
        <activity
            android:name=".Carrito"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".ActivityEscanear"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MiCuentaRegristrada"
            android:exported="false" />
        <activity
            android:name=".Contacto"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".FamiliasFragment"
            android:exported="false" />
        <activity
            android:name=".MiCuenta"
            android:exported="false" />
        <activity
            android:name=".MainMaxRain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>